html, body, #map-canvas {
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar-default {
    margin-bottom: 0px !important;
}

.list {
	width: 300px;
	opacity: 0.75;
	z-index: 999;
	position: absolute;
}