html, body, #map-canvas {
    height: 100%;
    margin-top: 0;
    padding: 0;
}

.navbar-inverse {
    margin-bottom: 0px !important;
    border-radius: 0% !important;
}

.list {
	width: 300px;
	background-color: #000;
	z-index: 999;
	position: absolute;
}

.info-window {
	max-width: 320px;
	padding-top: 20px;
}