html, body, #map-canvas {
    height: 100%;
    margin-top: 0;
    padding: 0;
}

.navbar-inverse {
    margin-bottom: 0px !important;
    border-radius: 0% !important;
}

.list {
	width: 300px;
	z-index: 999;
	position: absolute;
}

.info-window {
	max-width: 320px;
	padding-top: 20px;
}

.instagram {
	max-width: 100%;
}

@media screen and (max-width: 450px) {
	.info-window {
		max-width: 290px;
	}

	.instagram {
		max-width: 100%;
	}

	img {
		width: 200px;
	}

	.form-control {
		max-width: 80%;
	}
}
